pkgbase = snapstream-bin
	pkgdesc = Descargador multimedia hiperligero para video, audio y fotos (YouTube, Instagram, Facebook, TikTok)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/EmaBilibili/snapstream
	arch = x86_64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = ffmpeg
	provides = snapstream
	conflicts = snapstream
	options = !strip
	source = snapstream-bin-0.1.0.AppImage::https://github.com/EmaBilibili/snapstream/releases/download/v0.1.0/SnapStream_0.1.0_amd64.AppImage
	source = snapstream.desktop
	sha256sums = df7982a1866f5f58827862efa584fb17b2311708541712c22bb48a1a6f2a5722
	sha256sums = SKIP

pkgname = snapstream-bin
